@{
    ViewData["Title"] = "Fonte de Dados";
    //Layout = "Form_Layout";
    //Layout = "_3colsLayout";
}

<h2>Análise</h2>

<table class="ui very basic table">
    <thead>
        <tr>
            <th style="width:10%;">Dados</th>
            <th style="width:45%;">Orcid</th>
            <th style="width:45%;">Ria</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>Título</td>
            <td>Stable DFT codes and frames</td>
            <td>Stable DFT codes and frames</td>
        </tr>

        <tr>
            <td>Autores</td>
            <td>José Manuel Neto Vieira ; Ferreira, P.J.S.G.</td>
            <td>José Manuel Neto Vieira</td>
        </tr>

        <tr>
            <td>DOI</td>
            <td>10.1109/LSP.2002.807876</td>
            <td>10.1109/LSP.2002.807876</td>
        </tr>

        <tr>
            <td>Data</td>
            <td></td>
            <td>1/1/2003</td>
        </tr>
    </tbody>
</table>

@*<div class="ui grid">
    <div class="two wide column"></div>
    <div class="five wide column"></div>
    <div class="five wide column"></div>
</div>*@
