@{
    ViewData["Title"] = "Detalhes";
    var works = ViewBag.Details;
    var worksPTCris = ViewBag.PublicacoesPTCris2;
}

<h2>@ViewData["Title"]</h2>

<div>
    @if (works != null)
    {
        var count = 0;
        var worksTitles = new List<string>();
        foreach (var item in worksPTCris)
        {
            worksTitles.Add(item.title.title);
        }

        @foreach (var work in works)
        {
            @if (worksTitles.Contains(work))
            {
                count++;
                <div>
                    <ul data-arrow="before">
                        @*<div class="five wide column" data-tooltip="@string.Join(", ", work.contributors.ToString(work.publicationDate.year.value, work.source.sourceName.content))" data-position="top left">*@
                        <li>
                            @work
                            <i class="external alternate icon"></i>
                        </li>
                    </ul>
                </div>

                <div id="@count" class="five wide column"></div>
            }
        }
    }
    else
    {
        <div>
            <p>Zero publicações adicionadas!!</p>
        </div>
    }

</div>
