@{
    Layout = "2ColsHome_Layout";
    ViewData["Title"] = "Homepage";
}

<h2>Comece a Utilizar o UA CRIS</h2>

<p>Mais rápido, mais prático, mais fácil.</p>
<p>Agora pode importar as suas publicações presentes no ORCID para o RIA de uma forma cómoda.</p>

<br />

<h2>Aviso</h2>
<p>O sistema encontra-se em fase beta! Pede-se compreensão por eventuais falhas do sistema.</p>