@{
    Layout = "_3ColsLayout";
    ViewData["Title"] = "Entrada";
}

<h2>@ViewData["Title"]</h2>


Logouted
<h3>Introdução</h3>
<p>
    Esta página serve para exemplificar como pode ser a página de
    entrada de um sistema.
</p>
<p>
    Estas páginas foram construídas com o Fomantic-UI, alterado para
    suportar as especificidades dos sistemas dos STIC, incluindo o novo
    layout dos sites institucionais da UA.
</p>
<p>
    No menu lateral podes encontrar as instruções para usar esta
    framework na tua aplicação ou site, ou ainda alguns exemplos de como
    usar os vários componentes disponíveis.
</p>

@section RightColumn{
    Recursos adicionais:
    <ul>
        <li>
            <a href="https://fomantic-ui.com" target="_blank">Fomantic-UI</a>
        </li>
    </ul>
}