
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<!--primeira coluna-->
<div class="ui grid">
    <div class="six wide column">
        <button type="button" class="ui primary button" onclick="openModal()">Adicionar</button>
    </div>

    <div class="two wide column"></div>

    <div class="five wide column">
        @*<div class="ui category search">
                <div class="ui icon input">
                    <input id="myInput" class="prompt" type="text" placeholder="Procurar...">
                    <i class="search icon"></i>
                </div>
                <div class="results">
                </div>
            </div>*@
    </div>

    <div class="two wide column">
        <button type="button" class="ui primary button" style="width:100px" onclick="toggleText()"><i class="info circle icon"></i>Ajuda</button>
    </div>
</div>

<!--menu ajuda-->
<div class="ui grid" id="hidden_info" style="display:none; background-color:lightgray;border-radius:5px">
    <br />
    <p>
        &nbsp Utilize o botão
        <button type="button" class="ui primary button" @*onclick="openModal()"*@>Entrar</button> para entrar numa Unidade de Investigação.
    </p>

    <p>
        &nbsp Utilize o botão
        <button class="ui primary button" @*onclick="openUIDetails(@Newtonsoft.Json.JsonConvert.SerializeObject(orgUnit))"*@>Mais detalhes</button> para ver mais detalhes de determinada Unidade de Investigação.

    </p>
    <br />
</div>
<br />
<br />


@*Modal*@
<div class="ui modal">
    @*Header*@
    <div class="header">Adicionar um novo Projeto</div>

    @*Content*@
    <div class="content">
        @*<p>Preencha os campos com os dados da unidade de investigação.</p>*@

        <form class="ui form" method="post">

                <div class="field">
                    <label>Titulo</label>
                    <input type="text" name="titulo" placeholder="titulo" value="">
                </div>

                <div class="field">
                    <label>Acrónimo</label>
                    <input type="text" name="acronimo" placeholder="acronimo" value="">
                </div>

                <div class="field">
                    <label>Data início</label>
                    <input type="date" name="data_ini" placeholder="Data início" value="">
                </div>

                <div class="field">
                    <label>Data fim</label>
                    <input type="date" name="data_fim" placeholder="Data fim" value="">
                </div>

                <div class="field">
                    <label>Ficheiro</label>
                    <input type="text" name="ficheiro" placeholder="ficheiro" value="">
                </div>

                <div class="field">
                    <label>Financiamento</label>
                    <input type="text" min="" max="" name="funding" placeholder="financiamento" value="">
                </div>

                <div class="field">
                    <label>OrgUnit</label>
                    <input type="text" min="" max="" name="OrgUnit" placeholder="OrgUnit" value="">
                </div>

                <div class="field">
                    <label>Abstract</label>
                    <input type="text" name="value" placeholder="Resumo" value="">
                </div>

                <div class="field">
                    <label>Classification</label>
                    <input type="number" min="" max="" name="classification" placeholder="classification" value="">
                </div>

                <div class="field">
                    <label>Pessoa</label>
                    <input type="text" min="" max="" name="pessoa" placeholder="pessoa" value="">
                </div>

                <div class="field">
                    <label>Projeto</label>
                    <input type="text" name="activityText" placeholder="Projeto" value="">
                </div>

                <div class="field">
                    <label>Keywords</label>
                    <input type="text" name="keywords" placeholder="Keywords" value="">
                </div>

                <div class="field">
                    <label>Publicação</label>
                    <input type="text" name="publication" placeholder="publication" value="">
                </div>

                <div class="field">
                    <label>Patente</label>
                    <input type="text" name="patente" placeholder="patente" value="">
                </div>

                <div class="field">
                    <label>Produto</label>
                    <input type="text" name="produto" placeholder="produto" value="">
                </div>

                <div class="field">
                    <label>Evento</label>
                    <input type="text" name="evento" placeholder="evento" value="">
                </div>

                <div class="field">
                    <label>Prémio</label>
                    <input type="text" name="premio" placeholder="premio" value="">
                </div>

                <div class="field">
                    <label>Equipamento</label>
                    <input type="text" name="equipamento" placeholder="equipamento" value="">
                </div>


                <div class="row">
                    <div class="col-md-4 pull-right btn-group">
                        <button class="ui button" type="submit" name="cancelar_bt" value="cancel">Cancelar</button>
                        <button class="ui primary button" type="submit" name="adicionar_bt" value="add">Entrar</button>
                    </div>
                    <br>
                </div>

</form>
    </div>
</div>

    <div class="ui two cards">

            <div class="ui raised card" id="1">
                <div class="content">
                    <div class="header">Titulo do projeto</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">resumo</h4>

                    <div class="ui feed">

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data início:</a> 11/11/2020
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data fim: </a> 14/11/2020
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">

                                    <a>Uniddade de Investigação:</a> unidade

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    @*<button class="ui primary button">Mais Detalhes</button>*@
                    <a class="ui primary button" href="@Url.Action("ProjectDetails", "Home")" target="_blank">Mais Detalhes</a>
                </div>
            </div>


    </div>


<script>
    function toggleText() {
        var text = document.getElementById("hidden_info");
        if (text.style.display === "none") {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }

    function openModal() {
        $('.ui.modal')
            .modal('show')
            ;
    }

    //dropdown dentro do modal
    $('select.dropdown')
        .dropdown()
        ;

    function openOrgDetails(org) {
        $.post("Details_Helper", { org: JSON.stringify(org) }, function (data) {
            window.open(data, '_blank');
        });
    }


</script>

