@{
    ViewBag.Title = "Sem permissões";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


@{
    var redirectUrl = Url.Action("Perfil", "Home", null);
}


@*@if (@MVC_2020_Template.Helpers.Session.SessionActive)
{
    <p>Login bem Sucedido</p>
    {
        redirectUrl = Url.Action("Perfil", "Home", null);
    }
}
else
{
    <p>Logout bem Sucedido</p>
    {
        redirectUrl = Url.Action("Home", "Home", null);
    }
}*@

<script>
    var redirectUrl = '@redirectUrl';
    window.location.href = redirectUrl;
</script>
